body {
        background-color: rgb(114, 146, 218);
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
.text {
        font-size: 50px;
        color: rgb(5, 5, 97);
    }
h1 {
        text-decoration: underline rgb(5, 5, 97);
    }
label {
        text-shadow: 5px 5px 20px rebeccapurple;
        text-decoration:rebeccapurple;
    }
#question {
        display: inline-block;
        animation-name: float;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
@keyframes float {
        0% {transform: translateY(0px)}
        25% {transform: translateY(30px)}
        50% {transform: translateY(0px)}
        75% {transform: translateY(-30px)}
        100% {transform: translateY(0px)}
    }
#limit, #moods, #submit{
        font-size: 45px;
    }
#submit, #moods{
        background-color:  rgb(218, 167, 231);
        
    }
.socials{
        font-size: 30px;
        color: rgb(5, 5, 97);
        text-decoration: none;
    }
a.socials:hover {
        color: rgb(218, 167, 231);
    }
a.socials:active, .socials:visited {
        color: rebeccapurple;
    }
